*{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 12px;
    font-family: "Lantinghei SC", "Microsoft YaHei", "微软雅黑", SimSun, Arial;
}
.index_auto{
    width: 80%;
    min-width: 1200px;
    height: auto;
    border: 1px solid red;
}
.head_portrait{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    margin-top: 4%;
    margin-bottom: 4%;
}
.bnt_div{
    width: 110px;
    height: 40px;
}
.btn{
    width: 110px;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 4px;
}
.exit{
    background-color: #ff3a3c;
    border: 2px solid #ff3a3c;
    color: whitesmoke;
}
.btn:hover{
    color: #333;
    background: white;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear ;
    -ms-transition: all 0.2s linear ;
    -o-transition: all 0.2s linear ;
    transition: all 0.2s linear ;
}
table{
    border: 2px solid black;
}
table tr td{
    width: 100px;
    height: 30px;
    border: 1px solid black;
}